*{
     margin: 0;
     padding: 0;
     font-family: 'Segoe UI';
}

a{
     width: 100%;
}

body {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     background-color: #efefef;
}

html, body, #root{
     height: 100%;
     color: #222222;
}

#app-page, .page{
     display: flex;
     flex: 1;
     min-height: 100%;
     align-items: center;
     justify-content: center;
     width: 100%;
     color: #222222;
}

#root{
     display: flex;
     height: 100%;
     align-items: center;
     justify-content: center;
}


::-webkit-scrollbar {
     width: 4px;
     height: 4px;
}

::-webkit-scrollbar-track {
     background: transparent;
}

::-webkit-scrollbar-thumb {
     background: #222222;
     border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
     background: #222222;
}

@media only screen and (max-width: 768px) {
     .app-page .page-component:last-child{
          padding-bottom: 102px;
     }
}